name: Deploy PurpurPacks to Modrinth

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run Python Deploy Script
        run: python3 .github/workflows/deploy.py
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          DRY_RUN: ${{ github.event_name == 'pull_request' }}
          SKIP_CI: ${{
            contains(github.event.pull_request.title || '', 'ci-skip') ||
            contains(github.event.pull_request.title || '', '[ci skip]') ||
            contains(github.event.head_commit.message || '', 'ci-skip') ||
            contains(github.event.head_commit.message || '', '[ci skip]')
            }}